{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary ">{{ button_label|default('Enregistrer') }}</button>
    <a class="btn btn-secondary " href="{{ path('app_carte_sim_index') }}">Retour à la liste des cartes</a>

{{ form_end(form) }}
