{% extends 'base.html.twig' %}

{% block title %}CarteSim index{% endblock %}

{% block body %}
<div class="container-fluid">
{% include 'partials/header_card.html.twig' with {
        icon_class: 'bi bi-shield-lock',
        section_icon_class: '',
        section_title: 'Cartes Sim offertes',
        button_text: 'Revenir à la page des types de cartes',
        button_link: path('app_carte_sim_types_block_index'),
        button_style :'success'

    } %}

    {% if hasMissingSerialNumbers %}
        <div class="alert alert-warning">
            Une mise à jour de la base Pro est en attente ! 
            <a href="{{ path('migrate_sim_cards') }}">Synchroniser les stocks</a>
        </div>
    {% endif %}

    <!-- Tableau des cartes SIM -->
    <table id="myDataTable" class="table table-striped">
        <thead>
            <tr>
                <th><input type="checkbox" id="select-all"></th>
                <th>Numéro de série</th>
                <th>Chapelet</th>
                <th>Type</th>
                <th>Prix</th>
                <th>Réservée</th>
                <th>Canal vente</th>
                <th>Offerts par</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for carte_sim in carte_sims %}
                <tr>
                    <td><input type="checkbox" class="row-checkbox"></td>
                    <td class="{% if carte_sim.reserved %}text-primary{% endif %}">{{ carte_sim.serialNumber }}</td>
                    <td>{{ carte_sim.chapelet.codeChapelet }}</td>
                    <td>{{ carte_sim.type }}</td>
                    <td>{{ carte_sim.type.prix|number_format(2, ',', ' ') }} €</td>
                    <td>{{ carte_sim.reserved ? 'Oui' : 'Non' }}</td>
                    <td>{{ carte_sim.canalVente }}</td>
                    <td>{{ carte_sim.soldBy }}</td>
                    <td>
                        <a class="btn btn-secondary btn-sm" href="{{ path('app_carte_sim_show', {'id': carte_sim.id}) }}">Détails</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">Aucun enregistrement trouvé</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
