{% extends 'base.html.twig' %}

{% block title %}CarteSim index{% endblock %}

{% block body %}
<div class="container-fluid">
    <!-- Titre principal avec icône -->
    <div class="d-flex align-items-center justify-content-between bg-light py-3 mb-4 border-bottom">
        <h1 class="text-dark ps-3 fw-bold text-uppercase mb-0" style="font-size: 1.8rem;">
            <i class="bi bi-shield-lock me-2"></i> Espace Administrateur
        </h1>
    </div>

    <!-- Fil d'Ariane stylisé -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb ps-3 mb-4 bg-white rounded shadow-sm">
            <li class="breadcrumb-item">
                <a href="{{ path('app_syma_business') }}" class="text-decoration-none text-primary">
                    <i class="bi bi-house-door-fill me-1"></i> Accueil
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('app_syma_business') }}" class="text-decoration-none text-primary">
                    Dashboard
                </a>
            </li>
            <li class="breadcrumb-item active text-muted" aria-current="page">
                Stock cartes Sim
            </li>
        </ol>
    </nav>
</div>
{% if hasMissingSerialNumbers %}
    <div class="alert alert-warning">
        Une mise à jour de la base Pro est en attente ! <a href="{{ path('migrate_sim_cards') }}">Synchroniser les stocks</a>
    </div>
{% endif %}

<div class="form-check form-switch d-flex justify-content-end align-items-center w-100 mb-3">
    <label class="form-check-label me-2 mx-2" for="flexSwitchCheckChecked">
        Afficher toutes les cartes Sim
    </label>
    <input class="form-check-input mx-2" type="checkbox" id="flexSwitchCheckChecked">
</div>





<div id="tableContainer">
    <!-- Initially display carte_sims -->
    <table id="myDataTable" class="table table-striped">
        <thead>
            <tr>
            <th><input type="checkbox" id="select-all"></th>
                <th>Numéro de serie</th>
                <th>Chapelet</th>
                <th>Type</th>
                <th>Prix</th>
                <th>Reservée</th>
                <th>Attribuée à</th>
                <th>Date modification</th>
                <th>Etat</th>
                <th>Usage</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for carte_sim in carte_sims %}
                <tr>
                <td><input type="checkbox" class="row-checkbox"></td>
                    <td  >{{ carte_sim.serialNumber }}</td>
                    <td>{{ carte_sim.chapelet.codeChapelet }}</td>
                    <td>{{ carte_sim.type }}</td>
                    <td>{{ carte_sim.type.prix }}</td>
                    <td>{{ carte_sim.reserved ? 'Oui' : 'Non' }}</td>
                    <td>{{ carte_sim.user }}</td>
                    <td>{{ carte_sim.updatedAt ? carte_sim.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ carte_sim.etat }}</td>
                    <td>{{ carte_sim.usageFinale }}</td>
                    <td>
                        <a class="btn btn-secondary btn-sm" href="{{ path('app_carte_sim_show', {'id': carte_sim.id}) }}">Détails</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">Aucun enregistrement trouvé</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    document.getElementById('flexSwitchCheckChecked').addEventListener('change', function() {
        const container = document.getElementById('tableContainer');
        
        if (this.checked) {
            // Afficher carte_sims lorsque la case est activée (checked)
            container.innerHTML = `
                <table id="myDataTable" class="table table-striped">
                    <thead>
                        <tr>
                <td><input type="checkbox" class="row-checkbox"></td>
                            <th>Numéro de serie</th>
                            <th>Type</th>
                            <th>Prix</th>
                            <th>Reservée</th>
                            <th>Attribuée à</th>
                            <th>Date modification</th>
                            <th>Etat</th>
                            <th>Usage</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for carte_sim in carte_simsreserved %}
                            <tr>
                <td><input type="checkbox" class="row-checkbox"></td>
                                <td class="{{ carte_sim.reserved ? 'text-primary' : '' }}">{{ carte_sim.serialNumber }}</td>
                                <td class="{{ carte_sim.reserved ? 'text-primary' : '' }}">{{ carte_sim.type }}</td>
                                <td class="{{ carte_sim.reserved ? 'text-primary' : '' }}">{{ carte_sim.type.prix }}</td>
                                <td class="{{ carte_sim.reserved ? 'text-primary' : '' }}">{{ carte_sim.reserved ? 'Oui' : 'Non' }}</td>
                                <td class="{{ carte_sim.reserved ? 'text-primary' : '' }}">{{ carte_sim.user }}</td>
                                <td class="{{ carte_sim.reserved ? 'text-primary' : '' }}">{{ carte_sim.updatedAt ? carte_sim.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                                <td class="{{ carte_sim.reserved ? 'text-primary' : '' }}">{{ carte_sim.etat }}</td>
                                <td class="{{ carte_sim.reserved ? 'text-primary' : '' }}">{{ carte_sim.usageFinale }}</td>
                                <td>
                                    <a href="{{ path('app_carte_sim_show', {'id': carte_sim.id}) }}">Détails</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="9">Aucun enregistrement trouvé</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            `;
        } else {
            // Afficher carte_sims réservées lorsque la case est désactivée (unchecked)
            container.innerHTML = `
                <table id="myDataTable" class="table table-striped">
                    <thead>
                        <tr>
                <td><input type="checkbox" class="row-checkbox"></td>
                            <th>Numéro de serie</th>
                            <th>Type</th>
                            <th>Prix</th>
                            <th>Reservée</th>
                            <th>Attribuée à</th>
                            <th>Date modification</th>
                            <th>Etat</th>
                            <th>Usage</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for carte_sim in carte_sims %}
                            <tr>
                <td><input type="checkbox" class="row-checkbox"></td>
                                <td ">{{ carte_sim.serialNumber }}</td>
                                <td>{{ carte_sim.type }}</td>
                                <td>{{ carte_sim.type.prix }}</td>
                                <td>{{ carte_sim.reserved ? 'Oui' : 'Non' }}</td>
                                <td>{{ carte_sim.user }}</td>
                                <td>{{ carte_sim.updatedAt ? carte_sim.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                                <td>{{ carte_sim.etat }}</td>
                                <td>{{ carte_sim.usageFinale }}</td>
                                <td>
                                    <a href="{{ path('app_carte_sim_show', {'id': carte_sim.id}) }}">Détails</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="9">Aucun enregistrement trouvé</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            `;
        }
    });
</script>

{% endblock %}
