{% extends 'base.html.twig' %}

{% block title %}CarteSim index{% endblock %}

{% block body %}
<h4 class="mb-3 border-bottom border-secondary pb-2">
    <i class="text-secondary bi bi-sim fs-2 text-secondary"></i> Stock Cartes Sim</h4>

    <table id="myDataTable" class="table table-striped">
        <thead>
            <tr>
                <th>Numéro de serie</th>
                <th>Type</th>
                <th>Prix</th>
                <th>Reservée</th>
                <th>Attribuée à </th>
                <th>Date modification</th>
                <th>Etat</th>
                <th>Usage final</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for carte_sim in carte_sims %}
            <tr>
                <td>{{ carte_sim.serialNumber }}</td>
                <td>{{ carte_sim.type }}</td>
                <td>{{ carte_sim.type.prix }}</td> 
                <td>{{ carte_sim.reserved ? 'Oui' : 'Non' }}</td>
                <td>{{ carte_sim.user }}</td>
                <td>{{ carte_sim.updatedAt ? carte_sim.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ carte_sim.etat }}</td>
                <td>{{ carte_sim.usageFinale }}</td>
                <td>
                    <a href="{{ path('app_carte_sim_show', {'id': carte_sim.id}) }}">Détails</a>
                    {# <a href="{{ path('app_carte_sim_edit', {'id': carte_sim.id}) }}">edit</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_carte_sim_new') }}" class="btn btn-primary my-3">Ajouter une carte Sim</a>
 
{% endblock %}
