{% extends 'base.html.twig' %}

{% block title %}CarteSim{% endblock %}

{% block body %}
<div class="container-fluid">
{% include 'partials/header_card.html.twig' with {
        icon_class: 'bi bi-shield-lock',
        section_icon_class: '',
        section_title: 'Détails de la carte',
        button_text: 'Revenir à la page des types de cartes',
        button_link: path('app_carte_sim_types_block_index'),
        button_style :'success'

    } %}

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Numéro de serie</th>
                <td>{{ carte_sim.serialNumber }}</td>
            </tr>
            <tr>
                <th>Code chapelet</th>
                <td>{{ carte_sim.chapelet.codeChapelet }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ carte_sim.type }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ carte_sim.type.prix }}</td>
            </tr>
            <tr>
                <th>Réservée par </th>
                <td>{{ carte_sim.reserved ? 'Yes' : 'No' }}</td>
            </tr>
            
            <tr>
                <th>Attribuée à</th>
                <td>{{ carte_sim.user }}</td>
            </tr>
            <tr class="table-active">
                <th>Etat</th>
                <td>{{ carte_sim.etat }}</td>
            </tr>
            <tr class="table-active">
                <th>Usage Finale</th>
                <td>{{ carte_sim.usageFinale }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{{ carte_sim.createdAt ? carte_sim.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{{ carte_sim.reserved ? 'Date attribution' : 'Date de modification' }} </th>
                <td>{{ carte_sim.updatedAt ? carte_sim.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>


    {# <a class="btn btn-primary btn-sm" href="{{ path('app_carte_sim_edit', {'id': carte_sim.id}) }}">Modifier</a> #}

{% endblock %}
