{% extends 'base.html.twig' %}

{% block title %}CarteSim{% endblock %}

{% block body %}
<div class="container-fluid">
    <!-- Titre principal avec icône -->
    <div class="d-flex align-items-center justify-content-between bg-light py-3 mb-4 border-bottom">
        <h1 class="text-dark ps-3 fw-bold text-uppercase mb-0" style="font-size: 1.8rem;">
            <i class="bi bi-shield-lock me-2"></i> Espace Administrateur
        </h1>
    </div>

    <!-- Fil d'Ariane stylisé -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb ps-3 mb-4 bg-white rounded shadow-sm">
            <li class="breadcrumb-item">
                <a href="{{ path('app_syma_business') }}" class="text-decoration-none text-primary">
                    <i class="bi bi-house-door-fill me-1"></i> Accueil
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('app_syma_business') }}" class="text-decoration-none text-primary">
                    Dashboard
                </a>
            </li>
            <li class="breadcrumb-item active text-muted" aria-current="page">
                Carte Sim #{{ carte_sim.serialNumber }}
            </li>
        </ol>
    </nav>
</div>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Numéro de serie</th>
                <td>{{ carte_sim.serialNumber }}</td>
            </tr>
            <tr>
                <th>Code chapelet</th>
                <td>{{ carte_sim.chapelet.codeChapelet }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ carte_sim.type }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ carte_sim.type.prix }}</td>
            </tr>
            <tr>
                <th>Réservée par </th>
                <td>{{ carte_sim.reserved ? 'Yes' : 'No' }}</td>
            </tr>
            
            <tr>
                <th>Attribuée à</th>
                <td>{{ carte_sim.user }}</td>
            </tr>
            <tr class="table-active">
                <th>Etat</th>
                <td>{{ carte_sim.etat }}</td>
            </tr>
            <tr class="table-active">
                <th>Usage Finale</th>
                <td>{{ carte_sim.usageFinale }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{{ carte_sim.createdAt ? carte_sim.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{{ carte_sim.reserved ? 'Date attribution' : 'Date de modification' }} </th>
                <td>{{ carte_sim.updatedAt ? carte_sim.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary btn-sm" href="{{ path('app_carte_sim_index') }}">Retour à la liste</a>

    {# <a class="btn btn-primary btn-sm" href="{{ path('app_carte_sim_edit', {'id': carte_sim.id}) }}">Modifier</a> #}

{% endblock %}
