{% extends 'base.html.twig' %}

{% block title %}CarteSim{% endblock %}

{% block body %}
<h4 class="mb-3 border-bottom border-secondary pb-2">
    <i class="text-secondary bi bi-sim fs-2 text-secondary"></i>Carte Sim #{{ carte_sim.serialNumber }}</h4>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Numéro de serie</th>
                <td>{{ carte_sim.serialNumber }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ carte_sim.type }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ carte_sim.type.prix }}</td>
            </tr>
            <tr>
                <th>Réservée par </th>
                <td>{{ carte_sim.reserved ? 'Yes' : 'No' }}</td>
            </tr>
            
            <tr>
                <th>Attribuée à</th>
                <td>{{ carte_sim.user }}</td>
            </tr>
            <tr class="table-active">
                <th>Etat</th>
                <td>{{ carte_sim.etat }}</td>
            </tr>
            <tr class="table-active">
                <th>Usage Finale</th>
                <td>{{ carte_sim.usageFinale }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{{ carte_sim.createdAt ? carte_sim.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date de modification</th>
                <td>{{ carte_sim.updatedAt ? carte_sim.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary btn-sm" href="{{ path('app_carte_sim_index') }}">Retour à la liste</a>

    <a class="btn btn-primary btn-sm" href="{{ path('app_carte_sim_edit', {'id': carte_sim.id}) }}">Modifier</a>

{% endblock %}
