{% extends 'base.html.twig' %}

{% block title %}CarteSim index{% endblock %}

{% block body %}
<h3 class="mb-5 border-bottom border-secondary pb-2">
    <i class="text-secondary fa-solid fa-sim-card"></i> Créer un lot de cartes SIM
</h3>

{{ form_start(form) }}
<div class="row">
    <div class="col-md-6">
        {{ form_widget(form) }}
    </div>
    <div class="col-md-6">
        <h6>Préparation à l'Importation :</h6>
        <div id="result" class="small text-muted">
            <p>Une fois que vous aurez configuré l'importation, un compte rendu s'affichera. 
            Assurez-vous de respecter toutes les restrictions des champs pour garantir une importation réussie.</p>
        </div>
    </div>
</div>

<a href="{{ path('app_carte_sim_index') }}" class="btn btn-secondary btn-sm">
    <i class="fas fa-arrow-left"></i> Retour à la liste
</a>

<!-- Button trigger modal -->
<button type="submit" class="btn btn-primary btn-sm" id="importValidation" data-toggle="modal" data-target="#exampleModal" disabled>
    <i class="fa-solid fa-file-import fa-x5"></i> Lancer l'import
</button>


{{ form_end(form) }}

<script src="{{ asset('assets/js/simCardBatchProcessor.js') }}"></script>
{% endblock %}
