<div class="mt-4 mb-3 px-4 py-3 rounded shadow-sm bg-light border">
    <!-- Profile Section -->
    <div class="d-flex flex-column align-items-center mb-3">
        <a href="{{ path('app_syma_business') }}">
            <img src="/assets/img/profil.png" alt="Photo de profil" 
                 class="rounded-circle border" 
                 style="width: 80px; height: 80px; object-fit: cover;">
        </a>
        <h5 class="mt-2 text-dark text-center user-name">
            <strong>{{ app.user.nomResponsable }}</strong>
        </h5>
        <h6 class="mb-0 text-secondary text-center" style="font-weight: 100; letter-spacing: -0.5px;">
            {{ app.user.email }}
        </h6>
    </div>

    {% if not is_granted('ROLE_COMMERCIAL') %}
    <!-- Quota Information: Two Columns Layout -->
    <div class="row mb-3">
        <div class="col-md-6 p-2 d-flex flex-column justify-content-center shadow-sm">
            <p class="text-secondary mb-0"><strong>Quota actuel</strong></p>
            {% if app.user.quotas is not null %}
                <p class="user-quota">{{ app.user.quotas.nom }}</p>
            {% else %}
                <p>Aucun quota attribué.</p>
            {% endif %}
        </div>

        <!-- "En savoir plus" Column -->
        <div class="col-md-6 shadow-sm p-2 d-flex flex-column justify-content-center text-end">
            <a class="text-decoration-none link-primary" href="#">En savoir plus</a>
        </div>

        <!-- "En savoir plus" content -->
        <div id="contentDiffQuotaActuel" class="row mb-3 d-none pt-3">
            <div class="col-12">
                <p><strong>Le quota d'un point de vente</strong> est calculé automatiquement chaque début de mois par notre <strong>application de gestion</strong>.</p>
                <p>Le quota est déterminé en fonction du taux (%) de <strong>transformation en passes ou forfaits des cartes SIM vendues et activées</strong> par chaque point de vente.</p>
                <p>Le <strong>taux moyen calculé</strong> est basé sur les trois derniers mois. Chaque début de mois, un <strong>email automatique</strong> sera envoyé à chaque point de vente, lui notifiant son <strong>nouveau quota pour le mois</strong>.</p>
            </div>
        </div>

        <!-- Bonus Information -->
        <div class="shadow-sm p-2 justify-content-center">
            <p class="mb-0 text-dark">
                <i class="bi bi-wallet2 fs-4 me-2"></i>
                Vous avez un bonus de 
                <strong class="user-bonus text-success">{{ app.user.totalBonus }} points</strong>.
                <a class="text-decoration-none link-primary ms-2" 
                   href="{{ path('app_user_Bonus_Controller') }}">
                    Gérer mon bonus
                </a>
            </p>
        </div>
    </div>
    {% endif %}

</div>

{% if is_granted('ROLE_ADMIN') %}
    {{ include('_nav/_nav_laterale.html.twig') }}
{% endif %} 
