<div class="bg-white py-4 px-2 rounded shadow-sm my-2 px-3 mx-2">
    <h4 class="mb-1 border-bottom border-secondary"><i class="text-secondary bi bi-house-door"></i> Espace administrateur</h4>
    <div class="d-flex justify-content-center">
        <div class="row my-4 w-100">
            <!-- Colonne 1 -->
            <div class="col-md-2 my-2">
                <a href="{{ path('app_commande_index') }}" class="shadow-sm btn btn-outline-secondary position-relative d-flex flex-column align-items-center w-100">
                    <i class="bi bi-cart fs-2 text-secondary"></i>
                    <span class="mt-2">Liste des Cdes</span>
                    <span id="totalEnAttente" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
                        00+
                    </span>
                </a>
            </div>

            <div class="col-md-2 my-2">
                <a href="{{ path('users_with_orders') }}" class="shadow-sm btn btn-outline-secondary position-relative d-flex flex-column align-items-center w-100">
                    <i class="bi bi-upc-scan fs-2 text-secondary"></i>
                    <span class="mt-2">Validation Cdes</span>
                </a>
            </div>

            <!-- Colonne 2 -->
            <div class="col-md-2 my-2">
                <a href="{{ path('app_quota_index') }}" class="shadow-sm btn btn-outline-secondary position-relative d-flex flex-column align-items-center w-100">
                    <i class="bi bi-speedometer fs-2 text-secondary"></i>
                    <span class="mt-2">Gestion des quotas</span>
                </a>
            </div>

            <!-- Colonne 3 -->
            <div class="col-md-2 my-2">
                <a href="{{ path('app_bonus_index') }}" class="shadow-sm btn btn-outline-secondary position-relative d-flex flex-column align-items-center w-100">
                    <i class="bi bi-gift fs-2 text-secondary"></i>
                    <span class="mt-2">Gestion des bonus</span>
                </a>
            </div>

            <!-- Colonne 4 -->
            <div class="col-md-2 my-2">
                <a href="{{ path('app_user_index') }}" type="button" class="shadow-sm btn btn-outline-secondary position-relative d-flex flex-column align-items-center w-100">
                    <i class="bi bi-people fs-2 text-secondary"></i>
                    <span class="mt-2">Liste clients</span>
                </a>
            </div>

            <!-- Colonne 5 -->
            <div class="col-md-2 my-2">
                <a href="{{ path('app_carte_sim_index') }}" type="button" class="shadow-sm btn btn-outline-secondary position-relative d-flex flex-column align-items-center w-100">
                    <i class="bi bi-sim fs-2 text-secondary"></i>
                    <span class="mt-2">Stock cartes Sim</span>
                </a>
            </div>


            
        </div>
    </div>

<div class="d-flex justify-content-center">
        <div class="row my-4 w-100">
            <!-- Colonne 1 -->
            <div class="col-md-2 my-2">
                <a href="{{ path('generate_serial_numbers') }}" class="shadow-sm btn btn-outline-secondary position-relative d-flex flex-column align-items-center w-100">
                    <i class="bi bi-cloud-upload fs-2 text-secondary"></i>
                    <span class="mt-2">Import Cartes Sim</span>
                   
                </a>
            </div>

            <div class="col-md-2 my-2">
                <a href="{{ path('app_banner_index') }}" class="shadow-sm btn btn-outline-secondary position-relative d-flex flex-column align-items-center w-100">
                    <i class="bi bi-image fs-2 text-secondary"></i>
                    <span class="mt-2">Bannières</span>
                   
                </a>
            </div>

            <div class="col-md-2 my-2">
                <a href="{{path('admin_syma_business')}}" class="shadow-sm btn btn-outline-secondary position-relative d-flex flex-column align-items-center w-100">
                    <i class="bi bi-gear fs-2 text-secondary"></i>
                    <span class="mt-2">Administration</span>
                   
                </a>
            </div>
        </div>
</div>
</div>

<script>
  const updateCommandesData = async () => {
    try {
      const response = await axios.get("/api/commande");
      localStorage.setItem('commandesData', JSON.stringify(response.data)); // Stocker les données sous forme de chaîne JSON
    } catch (error) {
      console.error("Erreur lors de la récupération des commandes:", error);
    }
  };

  // Fonction pour récupérer les données de localStorage
  const getCommandesFromLocalStorage = () => {
    const commandesJson = localStorage.getItem('commandesData'); // Remplacez 'commandesData' par la clé que vous utilisez
    return commandesJson ? JSON.parse(commandesJson) : []; // Convertir en objet JavaScript
  };

  // Fonction pour mettre à jour le nombre total de commandes en attente
  const updateTotalEnAttente = (commandes) => {
    const totalEnAttente = commandes.filter(commande => commande.status === 'en_attente').length;

    // Mettre à jour le DOM avec le nombre total des commandes en attente
    document.getElementById('totalEnAttente').textContent = totalEnAttente;
  };

  // Fonction pour mettre à jour les commandes à intervalle régulier
  const updateCommandesInterval = async () => {
    await updateCommandesData(); // Mettre à jour les données depuis l'API
    const commandesData = getCommandesFromLocalStorage(); // Récupérer les données mises à jour
    console.log("Données de commandes :", commandesData); // Affichez les données
    updateTotalEnAttente(commandesData); // Mettre à jour le total en attente
  };

  // Mettre à jour les commandes toutes les 3 secondes (3000 ms)
  setInterval(updateCommandesInterval, 3000); 

  // Appel initial pour mettre à jour le total en attente immédiatement
  updateCommandesInterval();
</script>

	

