{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="col-12 col-md-5 mt-4 mb-2 px-4 py-3 rounded shadow-sm bg-white">
            <div class="text-center mb-4">
                <img src="/assets/img/logo_syma.svg" class="brand_logo" alt="Logo" style="width: 40%;">
            </div>
            
            <h1 class="h3 mb-3 font-weight-normal">Inscription !</h1>

            <div class="card-body">
                {{ form_start(registrationForm) }}

                <div class="mb-3 position-relative">
                    <i class="bi bi-person fs-4 position-absolute" style="top: 50%; left: 10px; transform: translateY(-50%);"></i>
                    {{ form_widget(registrationForm.nomResponsable, {
                        'attr': {'class': 'form-control-lg ps-5 w-100', 'placeholder': 'Nom du Responsable'}
                    }) }}
                </div>

                <div class="mb-3 position-relative">
                    <i class="bi bi-envelope fs-4 position-absolute" style="top: 50%; left: 10px; transform: translateY(-50%);"></i>
                    {{ form_widget(registrationForm.email, {
                        'attr': {'class': 'form-control-lg ps-5 w-100', 'placeholder': 'Adresse E-mail'}
                    }) }}
                </div>

                <div class="mb-3 position-relative">
                    <i class="bi bi-phone fs-4 position-absolute" style="top: 50%; left: 10px; transform: translateY(-50%);"></i>
                    {{ form_widget(registrationForm.telephoneMobile, {
                        'attr': {'class': 'form-control-lg ps-5 w-100', 'placeholder': 'Téléphone Mobile'}
                    }) }}
                </div>

                <div class="mb-3 position-relative">
                    <i class="bi bi-telephone fs-4 position-absolute" style="top: 50%; left: 10px; transform: translateY(-50%);"></i>
                    {{ form_widget(registrationForm.telephoneFixe, {
                        'attr': {'class': 'form-control-lg ps-5 w-100', 'placeholder': 'Téléphone Fixe'}
                    }) }}
                </div>

                <div class="mb-3 position-relative">
                    <i class="bi bi-lock fs-4 position-absolute" style="top: 50%; left: 10px; transform: translateY(-50%);"></i>
                    {{ form_widget(registrationForm.plainPassword, {
                        'attr': {'class': 'form-control-lg ps-5 w-100', 'placeholder': 'Mot de Passe'}
                    }) }}
                </div>

                <div class="form-check ps-0">
                    {{ form_widget(registrationForm.agreeTerms) }}
                    <label class="form-check-label" for="{{ registrationForm.agreeTerms.vars.id }}">
                    </label>
                </div>

                <button type="submit" class="btn btn-primary w-100 fs-5">
                    S'inscrire
                </button>

                {{ form_end(registrationForm) }}
            </div>

            <div class="mt-3">
                <p>Vous avez déjà un compte ? <a href="{{ path('app_login') }}">Connexion</a></p>
            </div>
        </div>
    </div>
{% endblock %}
