{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="col-12 col-md-5 mt-4 mb-2 px-4 py-3 rounded shadow-sm bg-white"> <!-- Conteneur pour les colonnes -->
            <h1 class="h3 mb-3 font-weight-normal">Inscription !</h1>

            <div class="card-body">
                {{ form_start(registrationForm) }}

                <div class="mb-3">
                    {{ form_widget(registrationForm.nomResponsable, {
                        'attr': {'placeholder': 'Nom du Responsable'}
                    }) }}
                </div>

                <div class="mb-3">
                    {{ form_widget(registrationForm.email, {
                        'attr': {'placeholder': 'Adresse E-mail'}
                    }) }}
                </div>

                <div class="mb-3">
                    {{ form_widget(registrationForm.telephoneMobile, {
                        'attr': {'placeholder': 'Téléphone Mobile'}
                    }) }}
                </div>

                <div class="mb-3">
                    {{ form_widget(registrationForm.telephoneFixe, {
                        'attr': {'placeholder': 'Téléphone Fixe'}
                    }) }}
                </div>

                <div class="mb-3">
                    {{ form_widget(registrationForm.plainPassword, {
                        'attr': {'placeholder': 'Mot de Passe'}
                    }) }}
                </div>

                <div class="mb-3 form-check">
                    {{ form_widget(registrationForm.agreeTerms) }}
                </div>

                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary w-100">S'inscrire</button>
                </div>

                {{ form_end(registrationForm) }}
            </div>

            <!-- Lien vers la page d'inscription -->
            <div class="mt-3 text-center">
                <p>Vous avez déjà un compte ? <a href="{{ path('app_login') }}">Connexion</a></p>
            </div>
        </div>
    </div>
{% endblock %}
