{# templates/cartesim/list.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Mes Cartes SIM{% endblock %}



{% block body %}
<div class="container-fluid">
    <!-- Titre principal avec icône -->
    <div class="d-flex align-items-center justify-content-between bg-light py-3 mb-4 border-bottom">
        <h1 class="text-dark  fw-bold text-uppercase mb-0" style="font-size: 1.8rem;">
            <i class="bi bi-shield-lock me-2"></i> Espace client
        </h1>
    </div>

    <!-- Fil d'Ariane stylisé -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb  mb-4 bg-white rounded shadow-sm">
            <li class="breadcrumb-item">
                <a href="{{ path('app_syma_business') }}" class="text-decoration-none text-primary">
                    <i class="bi bi-house-door-fill me-1"></i> Accueil
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('app_syma_business') }}" class="text-decoration-none text-primary">
                    Dashboard
                </a>
            </li>
            <li class="breadcrumb-item active text-muted" aria-current="page">
                Cartes Sim attribuées
            </li>
        </ol>
    </nav>
</div>
    {% if cartesSim is empty %}
        <p>Aucune carte SIM achetée.</p>
    {% else %}
        <table id="myDataTable" class="display">
            <thead>
                <tr>
                    <th>Serial Number</th>
                    <th>Type</th>
                    <th>Statut</th>
                    <th>Client</th>
                    <th>Date d'attribution</th>
                    <th>Etat</th>
                    <th>Usage Final</th>
                </tr>
            </thead>
            <tbody>
                {% for carte in cartesSim %}
                    <tr>
                        <td>{{ carte.serialNumber }}</td>
                        <td>{{ carte.type.nom }}</td>
                        <td>{{ carte.isReserved ? 'Réservée' : 'Disponible' }}</td>
                        <td>{{ carte.user }}</td>
                        <td>Le {{ carte.createdAt ? carte.createdAt|date('Y-m-d') : '' }} à {{ carte.createdAt ? carte.createdAt|date('H:i:s') : '' }}</td>
                        <td>{{ carte.etat }}</td>
                        <td>{{ carte.usageFinale }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}



{% endblock %}
