{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="col-12 col-md-5 mt-4 mb-2 px-4 py-3 rounded shadow-sm bg-white">
    <div class="text-center mb-4">
            <img src="/assets/img/logo_syma.svg" class="brand_logo" alt="Logo" style="width: 40%;">
        </div>
        {% for flash_error in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        <h1 class="h3 mb-3 fw-bold text-uppercase">Mot de passe oublié</h1>

        <div class="mb-4">
            Entrez votre adresse email et nous vous enverrons un lien pour réinitialiser votre mot de passe.
        </div>

        {{ form_start(requestForm, {'attr': {'class': 'w-100'}}) }}

        <div class="mb-3 position-relative">
            <i class="bi bi-envelope fs-4 position-absolute" style="top: 50%; left: 10px; transform: translateY(-50%);"></i>
            {{ form_widget(requestForm.email, {
                'attr': {'class': 'form-control-lg ps-5 w-100', 'placeholder': 'Adresse email'}
            }) }}
        </div>

        <button class="btn btn-primary w-100 fs-5" type="submit">Envoyer le lien de réinitialisation</button>

        {{ form_end(requestForm) }}

        <div class="mt-3 d-flex justify-content-between">
    <p class="mb-0">Vous n'avez pas encore de compte ? <a href="{{ path('app_login') }}">S'identifier</a></p>
    <p class="mb-0"><a href="{{ path('app_register') }}">S'inscrire</a></p>
</div>
    </div>
</div>
{% endblock %}
