<nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('app_syma_business') }}">
      <img src="{{ asset('assets/img/logo_syma.svg') }}" alt="Logo Syma">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav ms-auto"> <!-- Ajout de la classe ms-auto -->
     


      </ul>
      <div class="dropdown ms-5"> <!-- Wrapper pour le menu déroulant -->
      {% if app.user %}  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          <i class="bi bi-person fs-5"></i> Bonjour {{app.user.nomResponsable}} 
        </a> {% endif %} 
        <div class="dropdown-menu dropdown-menu-end"> <!-- Classe pour aligner à droite -->
          {% if app.user %}
            <a class="dropdown-item" href="{{ path('app_profile') }}"> Mon Profil</a>
            <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
            {% if is_granted('ROLE_ADMIN') %}
            <a class="dropdown-item" href="{{ path('app_syma_business_config_index') }}">Informations Agent</a>
            {% endif %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Administration</a>
          {% else %}
            <a class="dropdown-item" href="{{ path('app_login') }}">Connexion</a>
            <a class="dropdown-item" href="{{ path('app_register') }}">Créer un compte !</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</nav>
