{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
<div class="container-fluid">
{% include 'partials/header_card.html.twig' with {
        icon_class: 'bi bi-shield-lock',
        section_icon_class: '',
        section_title: 'Utilisateurs sans code client !',
        button_text: 'Liste des utilisateur',
        button_link: path('app_user_index'),
        button_style :'success'

    } %}

    <div class="alert alert-warning mt-4" role="alert">
    <h4 class="alert-heading">Code client manquant</h4>
    <p>
        Certains clients n'ont pas de code associé. Pour ajouter un code client, veuillez vous connecter en tant que <strong>Super Admin</strong> et accéder au <strong>Dashboard</strong>.
    </p>
    <p>
        Une fois dans le Dashboard, vous pourrez ajouter le code client nécessaire pour chaque client. <strong>Ce code est essentiel pour le traitement des commandes</strong>, alors assurez-vous de l'ajouter dès que possible.
    </p>
</div>

    <table id="myDataTable" class="table table-striped">
        <thead>
            <tr>
                <th>Code client</th>
                <th>Nom Responsable</th>
                <th>Email</th>
                <th>Telephone Mobile</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>C********</td>
                <td>{{ user.nomResponsable }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.telephoneMobile }}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('app_user_show', {'id': user.id}) }}"><i class="bi bi-three-dots"></i></a>
                        {% if is_granted('ROLE_SUPER_ADMIN')  %}
                    <a class="btn btn-danger" href="{{ path('app_user_edit', {'id': user.id}) }}">Ajouter un code ?</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

 
{% endblock %}