{% extends 'base.html.twig' %}

{% block title %}Configuration de l'entitée{% endblock %}


{% block body %}
<div class="container-fluid">
{% include 'partials/header_card.html.twig' with {
        icon_class: 'bi bi-shield-lock',
        section_icon_class: '',
        section_title: 'Gestion de types cartes SIM',
        button_text: 'Aller à la page d\'accuei',
        button_link: path('app_syma_business'),
        button_style :'success'

    } %}
</div> 

    <table class="table">
        <thead>
            <tr>
                <th>Nom Du Responsable</th>
                <th>Email</th>
                <th>Numéro De Téléphone</th>
                <th>Numero De Fixe</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for syma_business_config in syma_business_configs %}
            <tr>
                <td>{{ syma_business_config.nomDuResponsable }}</td>
                <td>{{ syma_business_config.email }}</td>
                <td>{{ syma_business_config.numeroDeTelephone }}</td>
                <td>{{ syma_business_config.numeroDeFixe }}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('app_syma_business_config_show', {'id': syma_business_config.id}) }}">Détails</a>
                    <a class="btn btn-danger" href="{{ path('app_syma_business_config_edit', {'id': syma_business_config.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">Veuillez configurer une entitée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
