{% extends 'base.html.twig' %}

{% block title %}Configuration de l'entitée{% endblock %}


{% block body %}
<div class="container-fluid">
    <!-- Titre principal avec icône -->
    <div class="d-flex align-items-center justify-content-between bg-light py-3 mb-4 border-bottom">
        <h1 class="text-dark ps-3 fw-bold text-uppercase mb-0" style="font-size: 1.8rem;">
            <i class="bi bi-shield-lock me-2"></i> Espace Administrateur
        </h1>
    </div>

    <!-- Fil d'Ariane stylisé -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb ps-3 mb-4 bg-white rounded shadow-sm">
            <li class="breadcrumb-item">
                <a href="{{ path('app_syma_business') }}" class="text-decoration-none text-primary">
                    <i class="bi bi-house-door-fill me-1"></i> Accueil
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('app_syma_business') }}" class="text-decoration-none text-primary">
                    Dashboard
                </a>
            </li>
            <li class="breadcrumb-item active text-muted" aria-current="page">
                Agent / {% for syma_business_config in syma_business_configs %}{{ syma_business_config.raisonSociale }} {% endfor %}
            </li>
        </ol>
    </nav>
</div> 

    <table class="table">
        <thead>
            <tr>
                <th>Nom Du Responsable</th>
                <th>Email</th>
                <th>Numéro De Téléphone</th>
                <th>Numero De Fixe</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for syma_business_config in syma_business_configs %}
            <tr>
                <td>{{ syma_business_config.nomDuResponsable }}</td>
                <td>{{ syma_business_config.email }}</td>
                <td>{{ syma_business_config.numeroDeTelephone }}</td>
                <td>{{ syma_business_config.numeroDeFixe }}</td>
                <td>
                    <a class="btn btn-secondary btn-sm" href="{{ path('app_syma_business_config_show', {'id': syma_business_config.id}) }}">Détails</a>
                    <a class="btn btn-primary btn-sm" href="{{ path('app_syma_business_config_edit', {'id': syma_business_config.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">Veuillez configurer une entitée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
