{# templates/syma_business_config/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Configuration de l'entité{% endblock %}

{% block body %}
    <h3 class="mb-5 border-bottom border-secondary pb-2">
        <i class="bi bi-sliders"></i> Créer une entité
    </h3>

    {{ form_start(form, {'action': path('app_syma_business_config_new')}) }}

        <div class="row">
            <div class="col-md-6">
                <!-- Section pour les informations personnelles -->
                <div class="card bg-light mb-3">
                    <div class="card-header">Informations Personnelles</div>
                    <div class="card-body">
                        <!-- Nom du Responsable -->
                        <div class="form-floating mb-3">
                            {{ form_widget(form.nomDuResponsable) }}
                            <label for="{{ form.nomDuResponsable.vars.id }}">Nom du responsable</label>
                        </div>

                        <!-- Adresse e-mail -->
                        <div class="form-floating mb-3">
                            {{ form_widget(form.email) }}
                            <label for="{{ form.email.vars.id }}">Adresse e-mail</label>
                        </div>

                        <!-- Numéro de téléphone -->
                        <div class="form-floating mb-3">
                            {{ form_widget(form.numeroDeTelephone) }}
                            <label for="{{ form.numeroDeTelephone.vars.id }}">Numéro de téléphone</label>
                        </div>

                        <!-- Numéro de fixe -->
                        <div class="form-floating mb-3">
                            {{ form_widget(form.numeroDeFixe) }}
                            <label for="{{ form.numeroDeFixe.vars.id }}">Numéro de fixe</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <!-- Section pour les informations de la société -->
                <div class="card bg-light mb-3">
                    <div class="card-header">Informations Société</div>
                    <div class="card-body">
                        <!-- Raison sociale -->
                        <div class="form-floating mb-3">
                            {{ form_widget(form.raisonSociale) }}
                            <label for="{{ form.raisonSociale.vars.id }}">Raison sociale</label>
                        </div>

                        <!-- Numéro de registre -->
                        <div class="form-floating mb-3">
                            {{ form_widget(form.numeroDeRegistre) }}
                            <label for="{{ form.numeroDeRegistre.vars.id }}">Numéro de registre</label>
                        </div>

                        <!-- Forme juridique -->
                        <div class="form-floating mb-3">
                            {{ form_widget(form.formeJuridique) }}
                            <label for="{{ form.formeJuridique.vars.id }}">Forme juridique</label>
                        </div>

                        <!-- Code APE/NAF -->
                        <div class="form-floating mb-3">
                            {{ form_widget(form.codeApeNaf) }}
                            <label for="{{ form.codeApeNaf.vars.id }}">Code APE/NAF</label>
                        </div>

                        <!-- Capital social -->
                        <div class="form-floating mb-3">
                            {{ form_widget(form.capitalSocial) }}
                            <label for="{{ form.capitalSocial.vars.id }}">Capital social</label>
                        </div>

                        <!-- Numéro de TVA intracommunautaire -->
                        <div class="form-floating mb-3">
                            {{ form_widget(form.numeroDeTvaIntracommunautaire) }}
                            <label for="{{ form.numeroDeTvaIntracommunautaire.vars.id }}">Numéro de TVA intracommunautaire</label>
                        </div>

                        <!-- Numéro SIRET -->
                        <div class="form-floating mb-3">
                            {{ form_widget(form.numeroSiret) }}
                            <label for="{{ form.numeroSiret.vars.id }}">Numéro SIRET</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Section pour les boutons -->
        <div class="d-flex justify-content-between">
            <a href="{{ path('app_syma_business_config_index') }}" class="btn btn-secondary">
                Annuler
            </a>

            <button type="submit" class="btn btn-primary">
                Enregistrer
            </button>
        </div>

    {{ form_end(form) }}
{% endblock %}
