{# templates/syma_business_config/show.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Configuration de l'entité{% endblock %}

{% block body %}
{% include 'partials/header_card.html.twig' with {
        icon_class: 'bi bi-shield-lock',
        section_icon_class: '',
        section_title: 'Gestion de types cartes SIM',
        button_text: 'Aller à la page d\'accuei',
        button_link: path('app_syma_business'),
        button_style :'success'

    } %}

        <!-- Carte des Informations Société -->
        <div class="card mb-4 shadow-sm">
            <div class="card-header bg-secondary text-dark">
                Informations Société
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <strong>Raison Sociale :</strong> {{ syma_business_config.raisonSociale }}
                </li>
                <li class="list-group-item">
                    <strong>Numéro De Registre :</strong> {{ syma_business_config.numeroDeRegistre }}
                </li>
                <li class="list-group-item">
                    <strong>Forme Juridique :</strong> {{ syma_business_config.formeJuridique }}
                </li>
                <li class="list-group-item">
                    <strong>Code APE/NAF :</strong> {{ syma_business_config.codeApeNaf }}
                </li>
                <li class="list-group-item">
                    <strong>Capital Social :</strong> {{ syma_business_config.capitalSocial }}
                </li>
                <li class="list-group-item">
                    <strong>Numéro De TVA Intracommunautaire :</strong> {{ syma_business_config.numeroDeTvaIntracommunautaire }}
                </li>
                <li class="list-group-item">
                    <strong>Numéro SIRET :</strong> {{ syma_business_config.numeroSiret }}
                </li>
            </ul>
        </div>

        <!-- Boutons de Navigation -->
        <div class="d-flex">
            <a href="{{ path('app_syma_business_config_index') }}" class="btn btn-primary me-2">
                Quitter
            </a>
            <a href="{{ path('app_syma_business_config_edit', {'id': syma_business_config.id}) }}" class="btn btn-danger me-2">
                    Modifier
                </a>
          {% if is_granted('ROLE_SUPER_ADMIN') %}
            <div>
                {# Formulaire pour Supprimer l'entité #}
                {{ include('syma_business_config/_delete_form.html.twig') }}
            </div>
            {% endif %}
        </div>
    </div>

  
{% endblock %}
