{# templates/syma_business_config/show.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Configuration de l'entité{% endblock %}

{% block body %}
    <div class="container my-2">
        <!-- Titre Principal -->
        <div class="d-flex align-items-center justify-content-between bg-light py-3 mb-4 border-bottom rounded">
            <h3 class="text-dark fw-bold text-uppercase mb-0">
                <i class="bi bi-sliders"></i> {{ syma_business_config.raisonSociale }}
            </h3>
           
        </div>

        <!-- Carte des Informations Personnelles -->
        <div class="card mb-4 shadow-sm">
            <div class="card-header bg-secondary text-dark">
                Informations Personnelles
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <strong>Nom Du Responsable :</strong> {{ syma_business_config.nomDuResponsable }}
                </li>
                <li class="list-group-item">
                    <strong>Email :</strong> {{ syma_business_config.email }}
                </li>
                <li class="list-group-item">
                    <strong>Numéro De Téléphone :</strong> {{ syma_business_config.numeroDeTelephone }}
                </li>
                <li class="list-group-item">
                    <strong>Numéro De Fixe :</strong> {{ syma_business_config.numeroDeFixe }}
                </li>
            </ul>
        </div>

        <!-- Carte des Informations Société -->
        <div class="card mb-4 shadow-sm">
            <div class="card-header bg-secondary text-dark">
                Informations Société
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <strong>Raison Sociale :</strong> {{ syma_business_config.raisonSociale }}
                </li>
                <li class="list-group-item">
                    <strong>Numéro De Registre :</strong> {{ syma_business_config.numeroDeRegistre }}
                </li>
                <li class="list-group-item">
                    <strong>Forme Juridique :</strong> {{ syma_business_config.formeJuridique }}
                </li>
                <li class="list-group-item">
                    <strong>Code APE/NAF :</strong> {{ syma_business_config.codeApeNaf }}
                </li>
                <li class="list-group-item">
                    <strong>Capital Social :</strong> {{ syma_business_config.capitalSocial }}
                </li>
                <li class="list-group-item">
                    <strong>Numéro De TVA Intracommunautaire :</strong> {{ syma_business_config.numeroDeTvaIntracommunautaire }}
                </li>
                <li class="list-group-item">
                    <strong>Numéro SIRET :</strong> {{ syma_business_config.numeroSiret }}
                </li>
            </ul>
        </div>

        <!-- Boutons de Navigation -->
        <div class="d-flex">
            <a href="{{ path('app_syma_business_config_index') }}" class="btn btn-secondary me-2">
                <i class="bi bi-arrow-left-circle"></i> Quitter
            </a>
            <a href="{{ path('app_syma_business_config_edit', {'id': syma_business_config.id}) }}" class="btn btn-secondary me-2">
                    <i class="bi bi-pencil-square"></i> Modifier
                </a>
          {% if is_granted('ROLE_SUPER_ADMIN') %}
            <div>
                {# Formulaire pour Supprimer l'entité #}
                {{ include('syma_business_config/_delete_form.html.twig') }}
            </div>
            {% endif %}
        </div>
    </div>

  
{% endblock %}
