{% extends 'base.html.twig' %}

{% block title %}Gestion des banners{% endblock %}

{% block body %}
{% include 'partials/header_card.html.twig' with {
        icon_class: 'bi bi-shield-lock',
        section_icon_class: 'bi bi-list-check',
        section_title: 'Gestion des bannieres',
        button_text: 'Ajouter une nouvelle pub !',
        button_link: path('app_banner_new'),
        button_style :'success'

    } %}
    
<div class="container-fluid">
   <div class="row row-cols-1 row-cols-md-2 row-cols-lg-5 g-4">
        {% for banner in banners %}
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <!-- Image de la Bannière -->
                    <img src="{{ asset('uploads/banners/' ~ banner.image) }}" class="card-img-top img-fluid" alt="{{ banner.nom }}" style="height: 200px; object-fit: cover;">
                    
                    <div class="card-body d-flex flex-column">
                        <!-- Nom de la Bannière -->
                        <h5 class="card-title">{{ banner.nom }}</h5>
                        
                        <!-- Boutons d'Action -->
                        <div class="d-flex mt-auto">
                            <a href="{{ path('app_banner_edit', {'id': banner.id}) }}" class="btn btn-primary  me-2">
                                Modifier
                            </a>
                            {{ include('banner/_delete_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-12">
                <div class="alert alert-info text-center" role="alert">
                    Aucune bannière créée !
                </div>
            </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}
