{% extends 'base.html.twig' %}

{% block title %}Commande index{% endblock %}

{% block body %}
<div class="container-fluid">
{% include 'partials/header_card.html.twig' with {
        icon_class: 'bi bi-shield-lock',
        section_icon_class: 'bi bi-list-check',
        section_title: 'Commandes',
        button_text: 'Faire une livraison (commercial/afficheur)',
        button_link: path('select_advinced_client'),
        button_style :'success'

    } %}
    <table id="myDataTable" class="table table-striped">
        <thead>
            <tr>
                <th>Numéro</th>
                <th>Client</th>
                <th>Type de carte</th>
                <th>Status</th>
                <th>Qte</th>
                <th>Qte Validée</th>
                <th>Total</th>
                <th>Créée le</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td><strong>{{ commande.numero }}</strong></td>
                <td>{{ commande.user.nomResponsable }}</td>
                <td>{{ commande.SimType }}</td>
                <td>{{ commande.status }}</td>
                <td>{{ commande.qte }}</td>
                <td>{{ commande.qtevalidee }}</td>
                <td>{{ commande.total|number_format(2, ',', ' ') }} €</td>
                <td>{{ commande.createdAt ? commande.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a  class="btn btn-success" href="{{ path('lignes_commande_show', {'numeroCommande': commande.numero}) }}"><i class="bi bi-three-dots"></i></a>

                </td>
                <td>
                        {% if is_granted('ROLE_SUPER_ADMIN') and commande.status == 'en_attente' %}

                                                {{ include('commande/_delete_form.html.twig') }}
                                                 {% endif %}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">0 commande !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



 
{% endblock %}