{% extends 'base.html.twig' %}

{% block title %}Commande index{% endblock %}

{% block body %}
<h4 class="mb-3 border-bottom border-secondary pb-2">
    <i class="text-secondary bi bi-cart-fill fs-2 text-secondary"></i>Liste commandes</h4>

    <table id="commandeTable" class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero</th>
                <th>Client</th>
                <th>Qte</th>
                <th>Qte Validée</th>
                <th>Total</th>
                <th>Status</th>
                <th>Créé le</th>
                <th>Mis à jour le</th>
                <th>Sim Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.id }}</td>
                <td>{{ commande.numero }}</td>
                <td>{{ commande.user.nomResponsable }}</td>
                <td>{{ commande.qte }}</td>
                <td>{{ commande.qtevalidee }}</td>
                <td>{{ commande.total }}</td>
                <td>{{ commande.status }}</td>
                <td>{{ commande.createdAt ? commande.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ commande.updatedAt ? commande.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ commande.SimType }}</td>
                <td>
                    <a href="{{ path('app_commande_show', {'id': commande.id}) }}">Détails</a>
                    {# <a href="{{ path('app_commande_edit', {'id': commande.id}) }}">edit</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <script>
        $(document).ready(function() {
            $('#commandeTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.11.5/i18n/French.json"  // Traduction en français
                },
                "order": [[ 0, "desc" ]]  // Ordonne par la première colonne (ID) par défaut
            });
        });
    </script>
 
{% endblock %}