{% extends 'base.html.twig' %}

{% block title %}Commande index{% endblock %}

{% block body %}
    <h1>Commande index</h1>

    <table id="commandeTable" class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero</th>
                <th>Qte</th>
                <th>Qte Validée</th>
                <th>Total</th>
                <th>Status</th>
                <th>Créé le</th>
                <th>Mis à jour le</th>
                <th>Sim Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.id }}</td>
                <td>{{ commande.numero }}</td>
                <td>{{ commande.qte }}</td>
                <td>{{ commande.qtevalidee }}</td>
                <td>{{ commande.total }}</td>
                <td>{{ commande.status }}</td>
                <td>{{ commande.createdAt ? commande.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ commande.updatedAt ? commande.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ commande.SimType }}</td>
                <td>
                    <a href="{{ path('app_commande_show', {'id': commande.id}) }}">show</a>
                    <a href="{{ path('app_commande_edit', {'id': commande.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_commande_new') }}" class="btn btn-primary mt-3">Create new</a>

    <script>
        $(document).ready(function() {
            $('#commandeTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.11.5/i18n/French.json"  // Traduction en français
                },
                "order": [[ 0, "desc" ]]  // Ordonne par la première colonne (ID) par défaut
            });
        });
    </script>
{% endblock %}