{% extends 'base.html.twig' %}

{% block title %}Commande index{% endblock %}

{% block body %}
<h6 class="my-3 border-bottom border-secondary fw-bold text-uppercase"> Liste commandes</h6>

    <table id="myDataTable" class="table table-striped">
        <thead>
            <tr>
                <th>Numero</th>
                <th>Client</th>
                <th>Qte</th>
                <th>Qte Validée</th>
                <th>Total</th>
                <th>Status</th>
                <th>Créée le</th>
                <th>Mis à jour le</th>
                <th>Sim Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.numero }}</td>
                <td>{{ commande.user.nomResponsable }}</td>
                <td>{{ commande.qte }}</td>
                <td>{{ commande.qtevalidee }}</td>
                <td>{{ commande.total }}</td>
                <td>{{ commande.status }}</td>
                <td>{{ commande.createdAt ? commande.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ commande.updatedAt ? commande.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ commande.SimType }}</td>
                <td>
                    <a href="{{ path('lignes_commande_show', {'numeroCommande': commande.numero}) }}">Détails</a>
                    {# <a href="{{ path('app_commande_edit', {'id': commande.id}) }}">edit</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



 
{% endblock %}