{% extends 'base.html.twig' %}

{% block title %}Commande index{% endblock %}

{% block body %}
<div class="container-fluid">
    <!-- Titre principal avec icône -->
    <div class="d-flex align-items-center justify-content-between bg-light py-3 mb-4 border-bottom">
        <h1 class="text-dark ps-3 fw-bold text-uppercase mb-0" style="font-size: 1.8rem;">
            <i class="bi bi-shield-lock me-2"></i> Espace Administrateur
        </h1>
    </div>

    <!-- Fil d'Ariane stylisé -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb ps-3 mb-4 bg-white rounded shadow-sm">
            <li class="breadcrumb-item">
                <a href="{{ path('app_syma_business') }}" class="text-decoration-none text-primary">
                    <i class="bi bi-house-door-fill me-1"></i> Accueil
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('app_syma_business') }}" class="text-decoration-none text-primary">
                    Dashboard
                </a>
            </li>
            <li class="breadcrumb-item active text-muted" aria-current="page">
                Liste des commandes 
            </li>
        </ol>
    </nav>
</div>

    <table id="myDataTable" class="table table-striped">
        <thead>
            <tr>
                <th>Numéro</th>
                <th>Client</th>
                <th>Type de carte</th>
                <th>Status</th>
                <th>Qte</th>
                <th>Qte Validée</th>
                <th>Qte Bonus utilisée</th>
                <th>Total</th>
                <th>Créée le</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td><strong>{{ commande.numero }}</strong></td>
                <td>{{ commande.user.nomResponsable }}</td>
                <td>{{ commande.SimType }}</td>
                <td>{{ commande.status }}</td>
                <td>{{ commande.qte }}</td>
                <td>{{ commande.qtevalidee }}</td>
                <td>{{ commande.qteBonusUsed }}</td>
                <td>{{ commande.total }}</td>
                <td>{{ commande.createdAt ? commande.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-secondary btn-sm" href="{{ path('lignes_commande_show', {'numeroCommande': commande.numero}) }}">Détails</a>
                    {# <a href="{{ path('app_commande_edit', {'id': commande.id}) }}">edit</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">0 commande !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



 
{% endblock %}