{# templates/bonus/_form.html.twig #}

{{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
    <div class="row">
        <div class="col-md-6">
            <!-- Champ Valeur -->
            <div class="form-floating mb-3">
                {{ form_widget(form.valeur, {
                    'attr': {
                        'class': 'form-control' ~ (form.valeur.vars.errors|length > 0 ? ' is-invalid' : ''),
                        'placeholder': 'Entrez la valeur du bonus'
                    }
                }) }}
                <label for="{{ form.valeur.vars.id }}">Valeur</label>
                {{ form_errors(form.valeur) }}
            </div>
        </div>
        <div class="col-md-6">
            <!-- Champ Motif -->
            <div class="form-floating mb-3">
                {{ form_widget(form.motif, {
                    'attr': {
                        'class': 'form-control' ~ (form.motif.vars.errors|length > 0 ? ' is-invalid' : ''),
                        'placeholder': 'Entrez le motif du bonus'
                    }
                }) }}
                <label for="{{ form.motif.vars.id }}">Motif</label>
                {{ form_errors(form.motif) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <!-- Champ Utilisateur -->
            <div class="mb-3">
                <label for="{{ form.user.vars.id }}" class="form-label">Utilisateur</label>
                {{ form_widget(form.user, {
                    'attr': {
                        'class': 'form-select' ~ (form.user.vars.errors|length > 0 ? ' is-invalid' : '')
                    }
                }) }}
                {{ form_errors(form.user) }}
            </div>
        </div>
        
    </div>

    <!-- Boutons de Soumission -->
    <div class="d-flex justify-content-end mt-4">
        <a href="{{ path('app_bonus_index') }}" class="btn btn-danger me-2">
            Annuler
        </a>
        <button type="submit" class="btn btn-success">
            {{ button_label|default('Attribuer le bonus') }}
        </button>
    </div>
{{ form_end(form) }}