{{ form_start(form) }}
    <div class="form-floating my-2">
        {{ form_widget(form.typeCarte, { 'attr': { 'class': 'form-control', 'placeholder': 'Sélectionnez un type de carte' } }) }}
        <label for="{{ form.typeCarte.vars.id }}">Type de carte</label>
    </div>

    <div class="form-floating my-2">
        {{ form_widget(form.limite, { 'attr': { 'class': 'form-control', 'placeholder': 'Entrez la limite' } }) }}
        <label for="{{ form.limite.vars.id }}">Limite (ex : 6, le prix en bas sera appliqué pour les 6 premières cartes vendues pour chaque client)</label>
    </div>

    <div class="form-floating my-2">
        {{ form_widget(form.prix, { 'attr': { 'class': 'form-control', 'placeholder': 'Entrez le prix' } }) }}
        <label for="{{ form.prix.vars.id }}">Prix (le prix à appliquer pour cette limitation)</label>
    </div>
    <a class="btn btn-danger" href="{{ path('app_limitation_index') }}">Annuler</a>
    <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>

{{ form_end(form) }}
