{% extends 'base.html.twig' %}

{% block title %}Détails de l'utilisateur{% endblock %}

{% block body %}
<h4 class="mb-3 border-bottom border-secondary pb-2">
    <i class="text-secondary bi bi-hand-index fs-2 text-secondary"></i> Validation manuel</h4>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary btn-sm w-100">Scanner !</button>
    {{ form_end(form) }}
<h6 class="mt-3">Liste de commandes du Client </h6>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Numéro</th>
            <th>Client</th>
            <th>Type carte Sim</th>
            <th>Status</th>
            <th>Quantité</th>
            <th>Reste à valider</th>
            <th>Date création</th>
            <th>Dernière modification</th>
        </tr>
    </thead>
    <tbody>
        {% for commande in commandesClient %}
    <tr>
        <td {% if commande.status == 'en_cours' %} class="table-primary" {% endif %}>{{ commande.numero }}</td>
        <td {% if commande.status == 'en_cours' %} class="table-primary" {% endif %}>{{ commande.user.nomResponsable }}</td>
        <td {% if commande.status == 'en_cours' %} class="table-primary" {% endif %}>{{ commande.SimType }}</td>
        <td {% if commande.status == 'en_cours' %} class="table-primary" {% endif %}>{{ commande.status }}</td> <!-- Appliquez la classe si le statut est 'en_cours' -->
        <td {% if commande.status == 'en_cours' %} class="table-primary" {% endif %}>{{ commande.qte }}</td>
        <td {% if commande.status == 'en_cours' %} class="table-primary" {% endif %}>{{ (commande.qte - commande.qtevalidee) }}</td> <!-- Assurez-vous que 'qte' est le bon champ -->
        <td {% if commande.status == 'en_cours' %} class="table-primary" {% endif %}>{{ commande.createdAt ? commande.createdAt|date('Y-m-d H:i:s') : '' }}</td>
        <td {% if commande.status == 'en_cours' %} class="table-primary" {% endif %}>{{ commande.updatedAt ? commande.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
    </tr>
{% else %}
    <tr>
        <td colspan="8" class="text-center">Aucune commande trouvée.</td>
    </tr>
{% endfor %}

    </tbody>
</table>

{% endblock %}



