{% extends 'base.html.twig' %}

{% block body %}
{% include 'partials/header_card.html.twig' with {
        icon_class: 'bi bi-shield-lock',
        section_icon_class: 'bi bi-list-check',
        section_title: 'Sélectionnez le client à livrer',
        button_text: 'Pointer une commande existante',
        button_link: path('users_with_orders'),
        button_style :'success'

    } %}

  <!-- Formulaire de Sélection de Client -->
    <div class="card shadow-sm">
        <div class="card-body">
            {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
                <div class="row">
                    <div class="col-md-12">
                        <!-- Champ Client avec Floating Label -->
                        <div class="form-floating mb-4">
                            {{ form_widget(form.client, {
                                'attr': {
                                    'class': 'form-select',
                                    'id': form.client.vars.id,
                                    'placeholder': 'Sélectionnez un client'
                                }
                            }) }}
                            <label for="{{ form.client.vars.id }}">Client</label>
                            {{ form_errors(form.client) }}
                        </div>
                    </div>
                </div>

                <!-- Boutons -->
                <div class="d-flex justify-content-end">
                   
                    <button type="submit" class="btn btn-primary">
                        Choisir ce client
                    </button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}