<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">


        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
   <body>
    {{ include('_nav/_nav.html.twig') }}
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-md-2 left-align">
                {% block left_sidebar %}
                    {{ include(('_Sidebars/_left/_user_informations')) }}
                {% endblock %}
            </div>

            <div class="col-md-7 left-align">
                {{ include(('_Sidebars/_banner/_header.html.twig')) }}

                {% for label, messages in app.flashes %}
                    <div class="alert alert-{{ label }}">
                        {% for message in messages %}
                            {{ message | raw }}
                        {% endfor %}
                    </div>
                {% endfor %}

                {% block body %}{% endblock %}
            </div>

            <div class="col-md-3 left-align">
                {% block right_sidebar %}
                    {{ include(('_Sidebars/right/stat_stock.html.twig')) }}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
