{% extends 'base.html.twig' %}

{% block title %}SimType index{% endblock %}

{% block body %}
{% include 'partials/header_card.html.twig' with {
        icon_class: 'bi bi-shield-lock',
        section_icon_class: '',
        section_title: 'Gestion de types cartes SIM',
        button_text: 'Ajouter un nouveau type',
        button_link: path('app_sim_type_new'),
        button_style :'success'

    } %}
{# Alerte d'avertissement #}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Attention :</strong> Il est important d'éviter de changer les types de cartes une fois la configuration effectuée et que des ventes ont été réalisées.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
        </div>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Code</th>
                <th>Prix</th>
                <th>Date de création</th>
                <th>Dernière MAJ</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for sim_type in sim_types %}
            <tr>
                <td>{{ sim_type.nom }}</td>
                <td>{{ sim_type.code }}</td>
                <td>{{ sim_type.prix|number_format(2, ',', ' ') }} €</td>
                <td>{{ sim_type.createdAt ? sim_type.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sim_type.updatedAt ? sim_type.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_sim_type_edit', {'id': sim_type.id}) }}">Modifier</a>
                </td>
                <td>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    {{ include('sim_type/_delete_form.html.twig') }}
                                {% endif %}
                                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
