{# templates/user/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Créer un Nouvel Utilisateur{% endblock %}

{% block body %}
{% include 'partials/header_card.html.twig' with {
        icon_class: 'bi bi-shield-lock',
        section_icon_class: '',
        section_title: 'Nouvel utilisateur',
        button_text: 'Liste des utilisateur',
        button_link: path('app_user_index'),
        button_style :'success'

    } %}

    <!-- Formulaire de Création d'Utilisateur -->
    {# templates/user/_form.html.twig #}
<div class="card shadow-sm">
    <div class="card-body">
        {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
            <div class="row">
                <div class="col-md-6">
                    <!-- Champ Nom du Responsable -->
                    <div class="form-floating mb-3">
                        {{ form_widget(form.nomResponsable, {
                            'attr': {
                                'class': 'form-control',
                                'placeholder': 'Nom du Responsable'
                            }
                        }) }}
                        <label for="{{ form.nomResponsable.vars.id }}">Nom du Responsable</label>
                        {{ form_errors(form.nomResponsable) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Champ Adresse E-mail -->
                    <div class="form-floating mb-3">
                        {{ form_widget(form.email, {
                            'attr': {
                                'class': 'form-control',
                                'placeholder': 'Adresse e-mail'
                            }
                        }) }}
                        <label for="{{ form.email.vars.id }}">Adresse E-mail</label>
                        {{ form_errors(form.email) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <!-- Champ Numéro de Téléphone -->
                    <div class="form-floating mb-3">
                        {{ form_widget(form.telephoneMobile, {
                            'attr': {
                                'class': 'form-control',
                                'placeholder': 'Numéro de Téléphone Mobile'
                            }
                        }) }}
                        <label for="{{ form.telephoneMobile.vars.id }}">Numéro de Téléphone Mobile</label>
                        {{ form_errors(form.telephoneMobile) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Champ Is Commercial (Case à Cocher) -->
                    <div class="form-check mb-3 mt-4">
                        {{ form_widget(form.isCommercial, {
                            'attr': {
                                'class': 'form-check-input',
                            }
                        }) }}
                        <label class="form-check-label" for="{{ form.isCommercial.vars.id }}">
                          
                        </label>
                        {{ form_errors(form.isCommercial) }}
                    </div>
                </div>
            </div>

            <!-- Boutons de Soumission -->
            <div class="d-flex justify-content-end">
                <a href="{{ path('app_user_index') }}" class="btn btn-danger me-2">
                     Annuler
                </a>
                <button type="submit" class="btn btn-success">
                     {{ button_label|default('Ajouter') }}
                </button>
            </div>
        {{ form_end(form) }}
    </div>
</div>

<!-- Script JavaScript pour Validation Bootstrap -->
<script>
    // Activer la validation Bootstrap
    (function () {
        'use strict'

        var forms = document.querySelectorAll('.needs-validation')

        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>

</div>


{% endblock %}
