{% extends 'base.html.twig' %}

{% block title %}Configuration de l'utilisateur{% endblock %}

{% block body %}
<h3 class="mb-5 border-bottom border-secondary pb-2">
    <i class="bi bi-person-circle"></i> Modifier les informations de {{ user.nomResponsable }}
</h3>

{{ form_start(form, {'action': path('app_user_edit', {'id': user.id})}) }}

    <div class="row">
        <div class="col-md-6">
            <!-- Section pour les informations personnelles -->
            <div class="card bg-light mb-3">
                <div class="card-header">Informations Personnelles</div>
                <div class="card-body">
                    {{ form_row(form.email) }}
                    {{ form_row(form.nomResponsable) }}
                    {{ form_row(form.telephoneFixe) }}
                    {{ form_row(form.telephoneMobile) }}
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <!-- Section pour les informations de la société -->
            <div class="card bg-light mb-3">
                <div class="card-header">Informations Société</div>
                <div class="card-body">
                    {{ form_row(form.nomSociete) }}
                    {{ form_row(form.formeJuridique) }}
                    {{ form_row(form.numeroRegistreCommerce) }}
                    {{ form_row(form.numeroSiret) }}
                    {{ form_row(form.numeroRCS) }}
                    {{ form_row(form.codeAPE) }}
                    {{ form_row(form.facade) }}
                    {{ form_row(form.kbis) }}
                    {{ form_row(form.adresse) }}
                    {{ form_row(form.pays) }}
                    {{ form_row(form.codePostal) }}
                    {{ form_row(form.ville) }}
                    {{ form_row(form.codeClient) }}
                    {{ form_row(form.iban) }}
                    {{ form_row(form.bic) }}
                </div>
            </div>
        </div>
    </div>

    <!-- Section pour les quotas et boutons -->
    <div class="row">
        <div class="col-md-12">
            <div class="card bg-light mb-3">
                <div class="card-header">Quotas</div>
                <div class="card-body">
                    {{ form_row(form.quotas) }}
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between">
        <a href="{{ path('app_user_index') }}" class="btn btn-secondary">
            Annuler
        </a>

        <button type="submit" class="btn btn-primary">
            {{ button_label|default('Mise à jour') }}
        </button>
    </div>

{{ form_end(form) }}

{% endblock %}
