{# templates/user/edit.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Configuration de l'utilisateur{% endblock %}

{% block body %}
{% include 'partials/header_card.html.twig' with {
        icon_class: 'bi bi-shield-lock',
        section_icon_class: '',
        section_title: 'Modifier un utilisateur',
        button_text: 'Liste des utilisateur',
        button_link: path('app_user_index'),
        button_style :'success'

    } %}

<div class="container-fluid">
    <div class="card shadow-sm">
        <div class="card-body">
            {{ form_start(form, {'action': path('app_user_edit', {'id': user.id})}) }}
                <div class="row">
                    <div class="col-md-6">
                        <!-- Section pour les informations personnelles -->
                        <div class="card bg-light mb-3">
                            <div class="card-header bg-secondary text-white">
                                Informations Personnelles
                            </div>
                            <div class="card-body">
                                {% if is_granted('ROLE_ADMIN') %}
                                    <!-- Champ Code Client -->
                                    <div class="form-floating mb-4">
                                        {{ form_widget(form.codeClient, {
                                            'attr': {
                                                'class': 'form-control',
                                                'id': form.codeClient.vars.id,
                                                'placeholder': 'Code Client'
                                            }
                                        }) }}
                                        <label for="{{ form.codeClient.vars.id }}">Code Client</label>
                                        {{ form_errors(form.codeClient) }}
                                    </div>
                                    
                                   
                                {% endif %}
                                
                                <!-- Champ Nom Responsable -->
                                <div class="form-floating mb-4">
                                    {{ form_widget(form.nomResponsable, {
                                        'attr': {
                                            'class': 'form-control',
                                            'id': form.nomResponsable.vars.id,
                                            'placeholder': 'Nom du Responsable'
                                        }
                                    }) }}
                                    <label for="{{ form.nomResponsable.vars.id }}">Nom du Responsable</label>
                                    {{ form_errors(form.nomResponsable) }}
                                </div>

                                <!-- Champ Email -->
                                <div class="form-floating mb-4">
                                    {{ form_widget(form.email, {
                                        'attr': {
                                            'class': 'form-control',
                                            'id': form.email.vars.id,
                                            'placeholder': 'Adresse e-mail'
                                        }
                                    }) }}
                                    <label for="{{ form.email.vars.id }}">Adresse e-mail</label>
                                    {{ form_errors(form.email) }}
                                </div>

                                <!-- Champ Téléphone Mobile -->
                                <div class="form-floating mb-4">
                                    {{ form_widget(form.telephoneMobile, {
                                        'attr': {
                                            'class': 'form-control',
                                            'id': form.telephoneMobile.vars.id,
                                            'placeholder': 'Numéro de Téléphone Mobile'
                                        }
                                    }) }}
                                    <label for="{{ form.telephoneMobile.vars.id }}">Numéro de Téléphone Mobile</label>
                                    {{ form_errors(form.telephoneMobile) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <!-- Section pour les informations de la société -->
                        <div class="card bg-light mb-3">
                            <div class="card-header bg-secondary text-white">
                                Informations Société
                            </div>
                            <div class="card-body">
                                <!-- Champ Nom Société -->
                                <div class="form-floating mb-4">
                                    {{ form_widget(form.nomSociete, {
                                        'attr': {
                                            'class': 'form-control',
                                            'id': form.nomSociete.vars.id,
                                            'placeholder': 'Nom de la Société'
                                        }
                                    }) }}
                                    <label for="{{ form.nomSociete.vars.id }}">Nom de la Société</label>
                                    {{ form_errors(form.nomSociete) }}
                                </div>

                                <!-- Champ Numéro SIRET -->
                                <div class="form-floating mb-4">
                                    {{ form_widget(form.numeroSiret, {
                                        'attr': {
                                            'class': 'form-control',
                                            'id': form.numeroSiret.vars.id,
                                            'placeholder': 'Numéro SIRET'
                                        }
                                    }) }}
                                    <label for="{{ form.numeroSiret.vars.id }}">Numéro SIRET</label>
                                    {{ form_errors(form.numeroSiret) }}
                                </div>

                                <!-- Champ Adresse -->
                                <div class="form-floating mb-4">
                                    {{ form_widget(form.adresse, {
                                        'attr': {
                                            'class': 'form-control',
                                            'id': form.adresse.vars.id,
                                            'placeholder': 'Adresse'
                                        }
                                    }) }}
                                    <label for="{{ form.adresse.vars.id }}">Adresse</label>
                                    {{ form_errors(form.adresse) }}
                                </div>
                                <!-- Champ Zone -->
                            <div class="form-floating mb-4">
                                {{ form_widget(form.codeZone, {
                                    'attr': {
                                        'class': 'form-control',
                                        'placeholder': 'Adresse'
                                    }
                                }) }}
                                <label for="{{ form.codeZone.vars.id }}">Zone</label>
                                {{ form_errors(form.codeZone) }}
                            </div>

                                <!-- Champ Pays -->
                                <div class="form-floating mb-4">
                                    {{ form_widget(form.pays, {
                                        'attr': {
                                            'class': 'form-control',
                                            'id': form.pays.vars.id,
                                            'placeholder': 'Pays'
                                        }
                                    }) }}
                                    <label for="{{ form.pays.vars.id }}">Pays</label>
                                    {{ form_errors(form.pays) }}
                                </div>

                                
                                 {# {% if is_granted('ROLE_ADMIN') %}
                                    
                                    
                                    <!-- Champ Roles -->
                                    <div class="mb-4">
                                        <label class="form-label d-block">Rôles</label>
                                        {{ form_widget(form.roles) }}
                                        {{ form_errors(form.roles) }}
                                    </div>
                                {% endif %} #}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Section pour les quotas -->
                <div class="row mb-4">
                    <div class="col-md-12">
                        <div class="card bg-light shadow-sm">
                            <div class="card-header bg-secondary text-white">
                                Quotas
                            </div>
                            <div class="card-body">
                                <!-- Champ Quotas -->
                                <div class="form-floating mb-4">
                                    {{ form_widget(form.quotas, {
                                        'attr': {
                                            'class': 'form-control',
                                            'id': form.quotas.vars.id,
                                            'placeholder': 'Quotas'
                                        }
                                    }) }}
                                    <label for="{{ form.quotas.vars.id }}">Quotas</label>
                                    {{ form_errors(form.quotas) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Section pour les boutons -->
                <div class="d-flex">
                        <button type="submit" class="btn btn-danger">
                           {{ button_label|default('Mise à jour') }}
                        </button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>

  
</div>
{% endblock %}
