{% extends 'base.html.twig' %}

{% block title %}Détails de l'utilisateur{% endblock %}

{% block body %}
{% include 'partials/header_card.html.twig' with {
        icon_class: 'bi bi-shield-lock',
        section_icon_class: '',
        section_title: 'Détails utilisateur',
        button_text: 'Liste utilisateur',
        button_link: path('app_user_index'),
        button_style :'success'

    } %}

<div class="row">
    <div class="col-md-6">
        <!-- Section pour les informations personnelles -->
        <div class="card bg-light mb-3">
            <div class="card-header">Informations Personnelles</div>
            <div class="card-body">
                <p><strong>Code Client:</strong> {{ user.codeClient }}</p>
                <p>{% for role in user.roles %}
    <span class="badge bg-primary">{{ role }}</span>
{% endfor %}</p>
                <p><strong>Nom Responsable:</strong> {{ user.nomResponsable }}</p>
                <p><strong>Email:</strong> {{ user.email }}</p>
                <p><strong>Téléphone Mobile:</strong> {{ user.telephoneMobile }}</p>
                <p><strong>Is Verified:</strong> {{ user.isVerified ? 'Oui' : 'Non' }}</p>
            </div>
        </div>
    </div>
{% if user.type != 'Commercial' %}
    

    <div class="col-md-6">
        <!-- Section pour les informations de la société -->
        <div class="card bg-light mb-3">
            <div class="card-header">Informations Société</div>
            <div class="card-body">
                <p><strong>Raison sociale:</strong> {{ user.nomSociete }}</p>
                <p><strong>Numéro SIRET:</strong> {{ user.numeroSiret }}</p>
                <p><strong>Adresse:</strong> {{ user.adresse }}</p>
                <p><strong>Pays:</strong> {{ user.pays }}</p>
                <p><strong>Ville:</strong> {{ user.ville }}</p>
                
            </div>
        </div>
    </div>
</div>
 <!-- Section pour les quotas et boutons -->
    <div class="row mb-5">
        <div class="col-md-12">
            <div class="card bg-light mb-3">
                <div class="card-body">
            <p><strong>Le quota activé:</strong></p>
                    {{ (user.quotas) }}
                </div>
            </div>
        </div>
    </div>

    {% endif %}
    
<div class="d-flex">
    <a href="{{ path('app_user_index') }}" class="btn btn-success me-2">Retour à la liste</a>
    <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-danger me-2">Modifier</a>
    {# Lien pour télécharger le QR code #}
    <a href="{{ path('app_generate_qrcode', {'id': user.id}) }}" class="btn btn-primary">
        Télécharger le QR Code
    </a>
</div>



{% endblock %}
