{% extends 'base.html.twig' %}

{% block title %}Liste des Quotas{% endblock %}

{% block body %}
<h3 class="mb-5 border-bottom border-secondary pb-2"><i class="bi bi-speedometer"></i> Gestion des Quotas</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Sim 5 </th>
                <th>Sim 10</th>
                <th>Sim 15</th>
                <th>Sim 20</th>
                <th>Date création </th>
                <th>Date MAJ</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for quotum in quotas %}
            <tr>
                <td>{{ quotum.id }}</td>
                <td>{{ quotum.nom }}</td>
                <td>{{ quotum.sim5Quota }}</td>
                <td>{{ quotum.sim10Quota }}</td>
                <td>{{ quotum.sim15Quota }}</td>
                <td>{{ quotum.sim20Quota }}</td>
                <td>{{ quotum.createdAt ? quotum.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ quotum.updatedAt ? quotum.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_quota_edit', {'id': quotum.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-secondary btn-sm" href="{{ path('app_quota_new') }}">Ajouter un nouveau quota</a>
{% endblock %}
