{% extends 'base.html.twig' %}

{% block title %}Liste des Quotas{% endblock %}

{% block body %}
<div class="container-fluid">
    <!-- Titre principal avec icône -->
    <div class="d-flex align-items-center justify-content-between bg-light py-3 mb-4 border-bottom">
        <h1 class="text-dark ps-3 fw-bold text-uppercase mb-0" style="font-size: 1.8rem;">
            <i class="bi bi-shield-lock me-2"></i> Espace Administrateur
        </h1>
    </div>

    <!-- Fil d'Ariane stylisé -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb ps-3 mb-4 bg-white rounded shadow-sm">
            <li class="breadcrumb-item">
                <a href="{{ path('app_syma_business') }}" class="text-decoration-none text-primary">
                    <i class="bi bi-house-door-fill me-1"></i> Accueil
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('app_syma_business') }}" class="text-decoration-none text-primary">
                    Dashboard
                </a>
            </li>
            <li class="breadcrumb-item active text-muted" aria-current="page">
                Gestion des Quotas
        </ol>
    </nav>
</div>
<div class="d-flex justify-content-end">
    <a class="btn btn-secondary btn-sm" href="{{ path('app_quota_new') }}">Ajouter un nouveau quota</a>
</div>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Carte Sim 5 </th>
                <th>Carte Sim 10</th>
                <th>Carte Sim 15</th>
                <th>Carte Sim 20</th>
                <th>Date création </th>
                <th>Date MAJ</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for quotum in quotas %}
            <tr>
                <td><strong>{{ quotum.nom }}</strong></td>
                <td>{{ quotum.sim5Quota }}</td>
                <td>{{ quotum.sim10Quota }}</td>
                <td>{{ quotum.sim15Quota }}</td>
                <td>{{ quotum.sim20Quota }}</td>
                <td>{{ quotum.createdAt ? quotum.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ quotum.updatedAt ? quotum.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-secondary btn-sm" href="{{ path('app_quota_edit', {'id': quotum.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
