{% extends 'base.html.twig' %}

{% block title %}Liste des Quotas{% endblock %}

{% block body %}
{% include 'partials/header_card.html.twig' with {
        icon_class: 'bi bi-shield-lock',
        section_icon_class: 'bi bi-list-check',
        section_title: 'Gestion des quota',
        button_text: 'Ajouter un quota',
        button_link: path('app_quota_new'),
        button_style :'success'

    } %}
<div class="d-flex justify-content-end">
    <a class="btn btn-secondary btn-sm" href="{{ path('app_quota_new') }}">Ajouter un nouveau quota</a>
</div>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Carte Sim 5 </th>
                <th>Carte Sim 10</th>
                <th>Carte Sim 15</th>
                <th>Carte Sim 20</th>
                <th>Date création </th>
                <th>Date MAJ</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for quotum in quotas %}
            <tr>
                <td><strong>{{ quotum.nom }}</strong></td>
                <td>{{ quotum.sim5Quota }} chapelets</td>
                <td>{{ quotum.sim10Quota }} chapelets</td>
                <td>{{ quotum.sim15Quota }} chapelets</td>
                <td>{{ quotum.sim20Quota }} chapelets</td>
                <td>{{ quotum.createdAt ? quotum.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ quotum.updatedAt ? quotum.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_quota_edit', {'id': quotum.id}) }}">Modifier</a>
                </td>
                <td>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                                            {{ include('quota/_delete_form.html.twig') }}
                                        {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
