{% extends 'base.html.twig' %}

{% block title %}Importation de cartes SIM{% endblock %}

{% block body %}
{% include 'partials/header_card.html.twig' with {
        icon_class: 'bi bi-shield-lock',
        section_icon_class: 'bi bi-list-check',
        section_title: 'Commandes',
        button_text: 'Faire une livraison (commercial/afficheur)',
        button_link: path('select_advinced_client'),
        button_style :'success'

    } %}

    <!-- Bloc d'explications -->
    <div class="alert alert-info">
        <h5 class="fw-bold mb-2"><i class="bi bi-info-circle-fill me-2"></i> Instructions pour l'importation :</h5>
        <ul class="mb-0">
            <li>Le fichier doit être au format <strong>CSV</strong>.</li>
            <li>Il doit contenir <strong>deux colonnes</strong> : la première avec les codes des cartes SIM, et la deuxième avec le numéro de chapelet pour chaque carte Sim.</li>
            <li>Assurez-vous de sélectionner le <strong>type de carte</strong> avant de lancer l'importation.</li>
        </ul>
    </div>

<div class="container-fluid  mt-4">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}

    <div class="card">
        <div class="card-body">
            {{ form_start(form) }}
                <div class="mb-3">
                    {{ form_row(form.csvFile, { 'label': 'Fichier CSV', 'attr': { 'class': 'form-control' } }) }}
                </div>
                <div class="mb-3">
                    {{ form_row(form.simType, { 'label': 'Type', 'attr': { 'class': 'form-select' } }) }}
                </div>
                <button type="submit" class="btn btn-primary btn-sm">Lancer l'importation !</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>

{% endblock %}
